@media (min-width:700px) {
  *{
    font-size: large;
  }
}
@media (max-width:700px), (max-height:700px) {
  *{
    font-size: small;
  }
  .task button{
    font-size: xx-small;
  }
}

h3{
  font-size: larger;
}

body{
  margin: 0;padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

input{
  box-sizing: border-box;
  background-color: rgb(22, 19, 38);
  color: #767676;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  border-color: none;
  text-align: center;
}

input.todo-search{
  width: 80%;
  height: 5vh;
  margin-top: .1vh;
  margin-bottom: 1vh;
}

button{
  background-color: rgb(69, 88, 195);
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  padding: 10px;
  transition: .5s;
}

button:hover{
  background-color: rgb(112, 114, 242);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: .5s;
}

.header {
  display: flex;
  background-color: rgb(44, 51, 65);
  height: 7vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.body {
  min-height: 80%;
  display: flex;
  margin: 20px;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.todo-section{
  display: flex;
  background-color: rgb(44, 51, 65);
  width: 80%;
  margin: 50px 2.5vw;
  padding: 20px 2.5vw;
  border-radius: 15px;
  align-items: center;
  flex-direction: column;
}

.todo{
  width: 100%;
  min-height: 50vh;
  flex-direction: column;
}
.bottom{
  display: flex;
  align-self: flex-end;
  margin-right: 6%;
}

.task{
  display: flex;
  background-color: rgb(32, 36, 45);
  width: 100%;
  margin: 1%;
  border-radius: 10px;
  align-items: center;
}
.task-input{
  width: 80%;
  height: 4vh;
  margin: 10px;
}
.task p{
  width: 69%;
  margin: 1% 10px;
}
.task .button-field{
  max-height: 3vh;
  display: flex;
  justify-content: flex-end;
  width: 26%;
}
.task button{
  max-width: 45%;
  display: flex;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.task .state-field {
  width: 10%;
  display: flex;
  justify-content: flex-start;
}
.task .state-button {
  display: flex;
  margin-left: 5px;
  width: 35px;
  height: 35px;
  max-width: 2vh;
  max-height: 2vh;
  transition: 1s;
  border-radius: 99px;
}
.task .DONE {
  background-color: rgb(18, 205, 143);
}
.task .UNDONE {
  background-color: rgb(255, 47, 130);
}
